@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Bangers');

body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: black;
	background-image:url("img/comic.jpg");
	



}

/*--- Nav Scrolling Offset --*/
.offset:before {
	height: 62px;
	margin-top: -62px;
	content: "";
	display: block;
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
	padding: .6rem 1rem;
}

.svg-inline--fa.fa-w-14{

	color:white;
}

.navbar {

	
   text-transform:uppercase;
   background-color:#1a191c ;


   font-size:1.6rem;
   color:#364652;
   font-weight:700;

}

.navbar a:hover{
	 font-size:2.5rem;
	 transform: rotate(-17deg);
	 font-family:'Bangers';
	color:white 	;
	margin-right:1rem;
	
}

.navbar a:hover .exclaim{
	 display:block;
}
.navbar a:hover + .navbar{
	background-color: red;

}

.navbar a{
	margin-right:1.5rem;
	color:white ;
	
}

.navbar-brand img{
	height:2rem;


}
.exclaim{
	float:right;
	display:none;
}


.home-inner{


	background-image:url("img/hall1.jpg");
	
}



@media (min-width: 768px) { 

body{

	padding-right: 6rem;
	padding-left:6rem;
}

#rightCol{
		border-left:1px solid grey;
		border-bottom:0px;
	}
	#midCol{
		border-left:1px solid grey;
	}
	

 }

 @media (min-width: 992px) { 

body{

	padding-right: 9rem;
	padding-left:9rem;
}

#rightCol{
		border-left:1px solid grey;
	}
	#midCol{
		border-left:1px solid grey;
	}
	
 }

  @media (min-width: 1200px) { 

body{

	padding-right: 11rem;
	padding-left:11rem;

}
#rightCol{
		border-left:1px solid grey;
	}
#midCol{
		border-left:1px solid grey;
	}
	

 }

carousel,.carousel-item,{

  height:80%;
  width: 80%;
  margin:0 auto ;

 }
.carousel .carousel-item img {
   
 margin:0 auto;
 height:80%;
  width:100%;
  border-right:4px  black solid;
   border-left:4px black solid;
}

.carousel-caption{

	width:100%;
	max-width:100%;
	right: auto;
	
	top:46%;
	text-align:center;
	left:auto;
	font-weight:700;


}
 iframe{
 	width:100%;
 	display:block;
 	margin:0 auto;
 }
.
.center{
	
	text-align:center;
}
i{
	font-size:3rem;
	margin-bottom:.9rem;
}
	


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
